<div class="container">
    <div>
        <h1>Ninja:</h1>
    </div>
    <div class="info">
        <p class="data">
            Your Ninja {{ name }} with a rank of {{ rank }}. {{ name }} joined {{ date }}
            with an I.D. of <em>{{ id }}</em>.
        </p>
    </div>
</div><!-- ./container -->